<ion-header>

  <ion-navbar>
    <ion-title>view-object</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  {{ item.title }}
  <div>
    {{ item.description }}
  </div>

  <div *ngIf="isAuthor">

    <button ion-button icon-only (click)="editObject()">
  <ion-icon name="create"></ion-icon>
</button> 

  <div>
    <button ion-button (click)="deleteItem()">Delete</button>
  </div>

  </div>

  <div *ngIf="!isAuthor">

    <button ion-button icon-only (click)="matchObject()">
  <ion-icon name="send"></ion-icon>
</button> 
    
  </div>

</ion-content>
